<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {%  block head %}
    <link rel="stylesheet" href ="{{ url_for('static',filename='css/style.css') }}">
    {%  endblock %}
</head>
<nav class="navbar">
    <ul>
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
        <li><a href="{{ url_for('curate_page') }}">Curate</a></li>
        <li><a href="{{ url_for('login') }}">Login</a></li>
        <li><a href="{{ url_for('reroute_to_signup') }}">Signup</a></li>
    </ul>
</nav>
{%  block body %}
<p>Wow hello there</p>
{%  endblock %}


<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>